<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <p> Lista de Aulas </p>

      <% dados.forEach((aulas) => { %>
          <p> <a href="/aula/relatorio/<%= aulas.id %> ">  Id do Veículo: <%= aulas.veiculos_id %>  Id do Instrutor: <%= aulas.instrutores_id %> Id do Aluno: <%= aulas.alunos_id %> Data: <%= aulas.data_hora %> </a> </p>
          <% if (aulas.presente) { %>
            <p> Aluno Presente</p>
          <% } else { %>
            <p> Aluno Faltou</p>
          <% } %> 
      <% }) %> 
      <p></p>
      <p></p>
    ________________________________________________________________

    <p>
      <a href="/aula/moto"> Cadastro aula de moto </a>
    </p>
    <p>
      <a href="/aula/carro"> Cadastro aula de carro </a>
    </p>
    </body>
</html>

