<h1> Relatório</h1>

<p> CPF do instrutor: <%= instrutor.cpf %> </p>
<p> CPF do aluno: <%= aluno.cpf %> </p>
<p> Placa do veículo: <%= veiculo.placa %> </p>
<p> Data e hora da aula: <%= dados.data_hora %> </p>

<form method="post" action='/aula/presenca/<%= dados.id %> ' >
    <p> Validar presença: <input type="submit" value="Validar"> </p>
</form>